*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea/
*.iml

# spark versions
spark/spark*

# Hive
metastore_db/
spark-warehouse/

# test configurations
cebes-dataframe-spark/src/test/resources/application.conf
cebes-http-server/src/test/resources/application.conf
cebes-persistence-mysql/src/test/resources/application.conf
cebes-pipeline-repository/src/test/resources/application.conf

bin/env.sh