akka {
  loglevel = WARNING

  http.session {
    encrypt-data = true
  }
}

cebes {
  hive.metastore {
    url = ""
    driver = ""
    username = ""
    password = ""
  }
  http {
    port = 21001
  }
  test.aws {
    accesskey = ""
    secretkey = ""
  }
}