cebes {

  hive.metastore {
    url = "jdbc:mysql://localhost:3306/cebes_hive_metastore?createDatabaseIfNotExist=true&nullNamePatternMatchesAll=true&useSSL=false"
    driver = "com.mysql.cj.jdbc.Driver"
    username = ""
    password = ""
  }

  test {
    aws {
      accesskey = ""
      secretkey = ""
    }
    jdbc {
      url = "jdbc:mysql://localhost:3306/cebes_test_db?createDatabaseIfNotExist=true&nullNamePatternMatchesAll=true&useSSL=false"
      driver = "com.mysql.cj.jdbc.Driver"
      username = ""
      password = ""
    }
  }

}