cebes {

  hive.metastore {
    url = ""
    driver = ""
    username = ""
    password = ""
  }

  test {
    aws {
      accesskey = ""
      secretkey = ""
    }
    jdbc {
      url = ""
      username = ""
      password = ""
    }
  }

}