cebes {
  mysql {
    url = "jdbc:mysql://localhost:3306/cebes_store?createDatabaseIfNotExist=true&nullNamePatternMatchesAll=true&useSSL=false"
    username = ""
    password = ""
  }
  hive.metastore {
    url = "jdbc:mysql://localhost:3306/cebes_hive_metastore?createDatabaseIfNotExist=true&nullNamePatternMatchesAll=true&useSSL=false"
    username = ""
    password = ""
  }
  test {
    jdbc {
      url = "jdbc:mysql://localhost:3306/cebes_test_db?createDatabaseIfNotExist=true&nullNamePatternMatchesAll=true&useSSL=false"
      username = ""
      password = ""
    }
    aws {
      accesskey = ""
      secretkey = ""
    }
  }

}